// Site layout
$site__layout-width: 1250px;
$site__layout-width-narrow: 1055px;
$site__layout-side-margin: 20px;

// Masthead
$masthead-height: 155px;
$masthead-horizontal-padding: 50px;

// Subsidiary banner
$subsidiary-banner-height: 48px;

// Columns
$col-margin: 2;     // horizontal margin percent per column
$col-bot-margin: 3; // bottom margin percent per column
